Latihan 1

In [1]:
print("Hello, World!")
print("Nama saya Philemon Hasoloan Maxaudi")
print("NIM saya 2021071020")

Hello, World!
Nama saya Philemon Hasoloan Maxaudi
NIM saya 2021071020

Latihan 2

In [2]:
if 5 > 2 :
  print("Five is greater than two!")

Five is greater than two!

Latihan 3

In [3]:
x = 5
y = "John"
print(x)
print(y)

5
John

Latihan 4

In [4]:
x = 4
x = "Sally"
print(x)

Sally

Catatan

In [11]:
def getFirst(myList):
  return myList[0]

In [12]:
getFirst([1,2,3])

1

In [13]:
getFirst([1,2,3,4,5,6,7,8,9,10])

1

Latihan 5

Jika getFirst diperoleh dari myList [0], bagaimana memperoleh getSecond?

In [17]:
def getSecond(myList):
  return myList[1]

In [18]:
getSecond([1,2,3])

2

In [19]:
getSecond([1,2,3,4,5,6,7,8,9,10])

2

Jika getFirst diperoleh dari myList [0], bagaimana memperoleh getLast?

In [29]:
def getLast(myList):
  return myList[-1]

In [30]:
getLast([1,2,3])

3

In [31]:
getLast([1,2,3,4,5,6,7,8,9,10])

10

Catatan

In [39]:
def getSum(myList):
    sum = 0
    for item in myList:
        sum = sum+item
    return sum
getSum([1,2,3,4])

10

Latihan 6

In [41]:
def getKali(myList):
    sum = 1
    for item in myList:
        sum = sum*item
    return sum
getKali([3,4])

12

In [42]:
def getBagi(myList):
    sum = 48
    for item in myList:
        sum = sum/item
    return sum
getBagi([1,2,3,4])

2.0

Catatan

In [45]:
def getSum(myList):
    sum = 0
    for row in myList:
        for item in row:
          sum += item
    return sum
getSum([[1,2,5],[3,4,7]])

22

Latihan 7

In [46]:
def getSum(myList):
    sum = 0
    for row in myList:
        for item in row:
          sum += item
    return sum
getSum([[8,4],[4,2]])

18

In [47]:
def getBagi(myList):
  sum = 48
  for row in myList:
    for item in row:
      sum /= item
  return sum

getSum([[4],[2]])

6

In [48]:
def getKurang(myList):
  sum = 40
  for row in myList:
    for item in row:
      sum -= item
  return sum
getKurang([[8,4],[4,2]])

22